# Titanic

## Dataset
Here is the dataset with the information about the Titanic passengers: https://raw.githubusercontent.com/horoshenkih/harbour-space-ds210/master/datasets/titanic/train.csv

- The column `Survived` corresponds to the fact that the passenger had survived.
- The column `PassengerId` is technical, and you may ignore it

Your task is to predict which passengers survived the Titanic shipwreck.
A more detailed description of the datset: https://www.kaggle.com/c/titanic/data

## Your task
Train `RandomForestClassifier` that predicts the value in the column `Survived`.
Select best parameters using cross-validation and evaluate the quality on 20% test data.
Use the accuracy score.

## Keep in mind
- Some columns may contain missing data. Use the combination of `DataFrame.fillna()` and `DataFrame.mean()` to handle missing values.
- Some columns may be categorical. Use `pandas.get_dummies()` to one-hot them.

## Optional task
Submit your solution to Kaggle.
You will need to create the submission file in the format `PassengerID1,Prediction1 PassengerID2,Prediction2 ...`.
Follow the link https://www.kaggle.com/c/titanic/data for further instructions.

**Hint**: you may need to extract categorical features for both train and test using `pandas.get_dummies`.
The standard trick is to concatenate (vertically) train and test, extract features and split into train and test back.

In [ ]:
import pandas as pd
import numpy as np

df = pd.read_csv('https://raw.githubusercontent.com/horoshenkih/harbour-space-ds210/master/datasets/titanic/train.csv')
df.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [ ]:
df['Age'] = df['Age'].fillna(df['Age'].mean())
dfd = pd.get_dummies(df['Sex'])
df = pd.concat([df, dfd], axis=1)
dfE = pd.get_dummies(df['Embarked'])
df = pd.concat([df, dfE], axis=1)
df['family_members'] = df['SibSp'] + df['Parch']
df['Title'] = df.Name.str.extract('([A-Za-z]+)\.', expand=False)
dfT = pd.get_dummies(df['Title'])
df = pd.concat([df, dfT], axis=1)


cabin_only = df[["Cabin"]].copy()
cabin_only["Cabin_Data"] = cabin_only["Cabin"].isnull().apply(lambda x: not x)
cabin_only["Deck"] = cabin_only["Cabin"].str.slice(0,1)
cabin_only["Room"] = cabin_only["Cabin"].str.slice(1,5).str.extract("([0-9]+)", expand=False).astype("float")
cabin_only.drop(["Cabin", "Cabin_Data"], axis=1, inplace=True, errors="ignore")
cabin_only["Deck"] = cabin_only["Deck"].fillna("N")
cabin_only["Room"] = cabin_only["Room"].fillna(cabin_only["Room"].mean())
def one_hot_column(df, label, drop_col=False):
    '''
    This function will one hot encode the chosen column.
    Args:
        df: Pandas dataframe
        label: Label of the column to encode
        drop_col: boolean to decide if the chosen column should be dropped
    Returns:
        pandas dataframe with the given encoding
    '''
    one_hot = pd.get_dummies(df[label], prefix=label)
    if drop_col:
        df = df.drop(label, axis=1)
    df = df.join(one_hot)
    return df


def one_hot(df, labels, drop_col=False):
    '''
    This function will one hot encode a list of columns.
    Args:
        df: Pandas dataframe
        labels: list of the columns to encode
        drop_col: boolean to decide if the chosen column should be dropped
    Returns:
        pandas dataframe with the given encoding
    '''
    for label in labels:
        df = one_hot_column(df, label, drop_col)
    return df
cabin_only = one_hot(cabin_only, ["Deck"],drop_col=True)
df = pd.concat([df, cabin_only], axis=1)
df.head()

NameError: ignored

In [ ]:
y = np.array(df['Survived'])

X_features1 = df[['Age', 'Pclass', 'SibSp', 'Parch', 'Fare', 'female', 'male', 'Room', 'Deck_A', 'Deck_B', 'Deck_C', 'Deck_D', 'Deck_E', 'Deck_F', 'Deck_G','Deck_N','Deck_T', 'C','Q','S', 'family_members', 'Capt', 'Col',	'Countess',	'Don',	'Dr',	'Jonkheer',	'Lady',	'Major',	'Master',	'Miss',	'Mlle',	'Mme',	'Mr',	'Mrs',	'Ms',	'Rev',	'Sir']].values
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_features1, y, test_size=0.2, random_state=42)

In [ ]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import mean_squared_error, make_scorer
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import accuracy_score

rf_clf = GridSearchCV(
    RandomForestClassifier(),
    {
        'n_estimators': [10000],
    },
    scoring=make_scorer(accuracy_score, greater_is_better=True),
    cv=5
).fit(X_train, y_train)

print("Best parms:", rf_clf.best_params_)
print("Best accuracy on validation:", rf_clf.best_score_)
print("Accuracy on test:", accuracy_score(y_test, rf_clf.predict(X_test)))

Best parms: {'n_estimators': 10000}
Best accuracy on validation: 0.8216292134831461
Accuracy on test: 0.8044692737430168

In [ ]:
df1 = pd.read_csv('https://raw.githubusercontent.com/horoshenkih/harbour-space-ds210/master/datasets/titanic/test.csv')
df1.head()

   PassengerId  Pclass  ... Cabin Embarked
0          892       3  ...   NaN        Q
1          893       3  ...   NaN        S
2          894       2  ...   NaN        Q
3          895       3  ...   NaN        S
4          896       3  ...   NaN        S

[5 rows x 11 columns]

In [ ]:
df1['Age'] = df1['Age'].fillna(df1['Age'].mean())
df1['Fare'] = df1['Fare'].fillna(df1['Age'].mean())
dfd1 = pd.get_dummies(df1['Sex'])
df1 = pd.concat([df1, dfd1], axis=1)
dfE1 = pd.get_dummies(df1['Embarked'])
df1 = pd.concat([df1, dfE1], axis=1)
df1['Title'] = df.Name.str.extract('([A-Za-z]+)\.', expand=False)
dfT1 = pd.get_dummies(df1['Title'])
df1 = pd.concat([df1, dfT1], axis=1)
df1['family_members'] = df1['SibSp'] + df1['Parch']
df1['Deck_T'] = df['Deck_T']
df1['Col'] = df['Col']
df1['Capt'] = df['Capt']
df1['Mlle'] = df['Mlle']
df1['Sir'] = df['Sir']
df1['Jonkheer'] = df['Jonkheer']
df1['Lady'] = df['Lady']
df1['Major'] = df['Major']
df1['Ms'] = df['Ms']
df1['Countess'] = df['Countess']



cabin_only = df1[["Cabin"]].copy()
cabin_only["Cabin_Data"] = cabin_only["Cabin"].isnull().apply(lambda x: not x)
cabin_only["Deck"] = cabin_only["Cabin"].str.slice(0,1)
cabin_only["Room"] = cabin_only["Cabin"].str.slice(1,5).str.extract("([0-9]+)", expand=False).astype("float")
cabin_only.drop(["Cabin", "Cabin_Data"], axis=1, inplace=True, errors="ignore")
cabin_only["Deck"] = cabin_only["Deck"].fillna("N")
cabin_only["Room"] = cabin_only["Room"].fillna(cabin_only["Room"].mean())
def one_hot_column(df, label, drop_col=False):
    '''
    This function will one hot encode the chosen column.
    Args:
        df: Pandas dataframe
        label: Label of the column to encode
        drop_col: boolean to decide if the chosen column should be dropped
    Returns:
        pandas dataframe with the given encoding
    '''
    one_hot = pd.get_dummies(df[label], prefix=label)
    if drop_col:
        df = df.drop(label, axis=1)
    df = df.join(one_hot)
    return df


def one_hot(df, labels, drop_col=False):
    '''
    This function will one hot encode a list of columns.
    Args:
        df: Pandas dataframe
        labels: list of the columns to encode
        drop_col: boolean to decide if the chosen column should be dropped
    Returns:
        pandas dataframe with the given encoding
    '''
    for label in labels:
        df = one_hot_column(df, label, drop_col)
    return df
cabin_only = one_hot(cabin_only, ["Deck"],drop_col=True)
df1 = pd.concat([df1, cabin_only], axis=1)
df1.head()

   PassengerId  Pclass  ... Deck_G Deck_N
0          892       3  ...      0      1
1          893       3  ...      0      1
2          894       2  ...      0      1
3          895       3  ...      0      1
4          896       3  ...      0      1

[5 rows x 45 columns]

In [ ]:
X_features2 = df1[['Age', 'Pclass', 'SibSp', 'Parch', 'Fare', 'female', 'male', 'Room', 'Deck_A', 'Deck_B', 'Deck_C', 'Deck_D', 'Deck_E', 'Deck_F', 'Deck_G','Deck_N','Deck_T', 'C', 'Q', 'S', 'family_members', 'Capt', 'Col',	'Countess',	'Don',	'Dr',	'Jonkheer',	'Lady',	'Major',	'Master',	'Miss',	'Mlle',	'Mme',	'Mr',	'Mrs',	'Ms',	'Rev',	'Sir']].values
print("y_test :", rf_clf.predict(X_features2))

y_test : [0 0 0 1 0 0 0 1 1 0 0 0 1 0 1 1 0 1 0 1 0 0 1 0 1 0 1 1 1 0 0 1 0 0 0 1 0
 0 0 1 1 1 0 1 1 0 0 0 1 1 1 0 1 1 0 0 0 0 0 1 0 0 0 1 1 1 1 0 1 0 1 0 0 1
 1 0 0 1 0 1 1 0 0 0 0 0 1 0 1 0 0 0 1 0 0 0 1 0 1 0 1 0 0 0 0 0 0 0 0 1 0
 1 1 0 1 0 0 0 0 1 1 0 1 0 0 1 0 1 0 0 0 0 0 1 0 0 1 0 0 0 0 1 1 0 1 0 0 0
 0 0 1 1 0 0 0 0 1 0 0 1 1 1 1 0 1 1 1 0 1 0 0 1 0 0 0 1 1 1 1 1 0 0 1 0 1
 0 1 0 0 0 0 0 1 0 1 0 1 0 0 0 0 0 0 1 0 0 1 0 1 0 0 0 0 1 0 1 1 0 1 0 1 0
 1 1 1 0 0 1 0 0 0 1 0 0 0 0 1 1 1 1 1 1 1 0 0 1 1 1 1 0 1 0 0 0 0 0 0 0 1
 0 0 1 1 1 1 0 0 0 0 0 0 0 1 1 0 1 0 0 1 0 0 0 1 1 1 0 0 0 0 0 0 1 0 1 0 0
 1 0 0 0 0 1 0 0 1 1 1 1 0 0 0 1 0 1 1 1 1 0 1 1 0 0 1 1 1 0 1 1 1 0 1 0 0
 1 0 0 0 0 0 0 1 0 0 1 0 1 0 1 0 1 1 0 0 0 1 0 1 0 0 0 0 1 1 1 1 0 0 1 1 1
 0 1 0 1 1 1 0 0 0 0 0 1 0 1 0 1 1 0 0 0 0 1 0 0 0 1 0 1 0 0 1 0 1 0 1 1 0
 1 1 1 1 1 0 0 1 0 0 1]

In [ ]:
df1['Survived'] = rf_clf.predict(X_features2)
df1.head()

   PassengerId  Pclass  ... Deck_N Survived
0          892       3  ...      1        0
1          893       3  ...      1        0
2          894       2  ...      1        0
3          895       3  ...      1        1
4          896       3  ...      1        0

[5 rows x 46 columns]

In [ ]:
df1[['PassengerId', 'Survived']].to_csv('t.csv', index=False)

In [ ]:
from sklearn.model_selection import train_test_split
df_train, df_test = train_test_split(df, test_size=0.25, random_state=42)

In [ ]:
Xtrain= df_train[['Age', 'Pclass', 'SibSp', 'Parch', 'Fare', 'female', 'male', 'Room', 'Deck_A', 'Deck_B', 'Deck_C', 'Deck_D', 'Deck_E', 'Deck_F', 'Deck_G','Deck_N','Deck_T', 'C','Q','S', 'family_members', 'Capt', 'Col',	'Countess',	'Don',	'Dr',	'Jonkheer',	'Lady',	'Major',	'Master',	'Miss',	'Mlle',	'Mme',	'Mr',	'Mrs',	'Ms',	'Rev',	'Sir']].values
Xtest = df_test[['Age', 'Pclass', 'SibSp', 'Parch', 'Fare', 'female', 'male', 'Room', 'Deck_A', 'Deck_B', 'Deck_C', 'Deck_D', 'Deck_E', 'Deck_F', 'Deck_G','Deck_N','Deck_T', 'C','Q','S', 'family_members', 'Capt', 'Col',	'Countess',	'Don',	'Dr',	'Jonkheer',	'Lady',	'Major',	'Master',	'Miss',	'Mlle',	'Mme',	'Mr',	'Mrs',	'Ms',	'Rev',	'Sir']].values
ytrain = df_train[['Survived']]
ytest = df_test['Survived']

In [ ]:
a = rf_clf.predict(Xtest)

df_test['misclassified'] = abs(a - ytest)
df_test

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

     PassengerId  Survived  Pclass  ... Deck_N Deck_T  misclassified
709          710         1       3  ...      1      0              0
439          440         0       2  ...      1      0              0
840          841         0       3  ...      1      0              0
720          721         1       2  ...      1      0              0
39            40         1       3  ...      1      0              1
290          291         1       1  ...      1      0              0
300          301         1       3  ...      1      0              0
333          334         0       3  ...      1      0              0
208          209         1       3  ...      1      0              0
136          137         1       1  ...      0      0              0
137          138         0       1  ...      0      0              0
696          697         0       3  ...      1      0              0
485          486         0       3  ...      1      0              0
244          245         0       3  ...      1      0              0
344          345         0       2  ...      1      0              0
853          854         1       1  ...      0      0              0
621          622         1       1  ...      0      0              1
653          654         1       3  ...      1      0              0
886          887         0       2  ...      1      0              0
110          111         0       1  ...      0      0              0
294          295         0       3  ...      1      0              0
447          448         1       1  ...      1      0              1
192          193         1       3  ...      1      0              1
682          683         0       3  ...      1      0              0
538          539         0       3  ...      1      0              0
819          820         0       3  ...      1      0              0
30            31         0       1  ...      1      0              0
673          674         1       2  ...      1      0              1
63            64         0       3  ...      1      0              0
396          397         0       3  ...      1      0              0
..           ...       ...     ...  ...    ...    ...            ...
81            82         1       3  ...      1      0              0
259          260         1       2  ...      1      0              0
486          487         1       1  ...      0      0              0
716          717         1       1  ...      0      0              0
800          801         0       2  ...      1      0              0
781          782         1       1  ...      0      0              0
542          543         0       3  ...      1      0              0
326          327         0       3  ...      1      0              0
534          535         0       3  ...      1      0              0
535          536         1       2  ...      1      0              0
483          484         1       3  ...      1      0              0
762          763         1       3  ...      1      0              0
533          534         1       3  ...      1      0              0
713          714         0       3  ...      1      0              0
390          391         1       1  ...      0      0              0
495          496         0       3  ...      1      0              0
482          483         0       3  ...      1      0              0
377          378         0       1  ...      0      0              0
365          366         0       3  ...      1      0              0
412          413         1       1  ...      0      0              0
468          469         0       3  ...      1      0              0
409          410         0       3  ...      1      0              0
7              8         0       3  ...      1      0              0
580          581         1       2  ...      1      0              0
155          156         0       1  ...      1      0              0
880          881         1       2  ...      1      0              0
425          426         0       3  ...      1      0              0
101          102         0       3  ...      1      0              0
199          200         0       2  ...      1      0              0
424          425         0       3  ...      1      0              0

[223 rows x 47 columns]

In [ ]:
for i in range(len(a)):
  if a[i] == -1:
    print(i)